/* .someDiv {
  background-color: red;
  width: 300px;
  height: 300px;
  color: blue;
} */

/* .cats {
    position: absolute;
    float: left;
    left: 200px;
    top: 50vh;
} */
/*
 img {
    border: 2px solid rgb(191, 0, 255) !important;
     border-radius: 50% !important; 
} 
*/

body { 
    background-color:rgb(251, 255, 0) !important;
} 
